* {
  margin: 0;
  padding: 0;
}

/* Shared */

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  padding: 15px 27px;
  border-radius: 8px;
  background: #e554ad96;
}

.description {
  color: rgba(14, 13, 13, 0.945);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.section-title {
  color: rgba(58, 56, 51, 0.9);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}

/* Banner Section */

.banner-section {
  height: 100vh;
  background-color: rgba(230, 103, 131, 0.1);
  gap: 95px;
}

.banner-img {
  height: 500px;
  width: 324px;
  margin-right: 200px;
}

.banner-text {
  padding-left: 200px;
  flex-direction: column;
  gap: 30px;
  align-items: baseline;
}
.banner-title {
  font-size: 80px;
  font-weight: 800;
}

/* Feature Section */

.feature-section {
  height: 100vh;
  text-align: center;
  padding-top: 100px;
  width: 80%;
  margin: auto;
}

.feature-flowers {
  margin-top: 50px;
  gap: 50px;
}

.flower {
  border-radius: 300px 300px 0px 0px;
  height: 420px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flower-img {
  height: 350px;
  width: 180px;
}

.section-description {
  width: 50%;
  margin: auto;
}

.flower-text {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 15px;
}

.flower-1 {
  background: rgba(150, 12, 79, 0.15);
}

.flower-2 {
  background: rgba(155, 29, 90, 0.315);
}

.flower-3 {
  background: rgba(160, 47, 101, 0.459);
}

.service-section {
  width: 80%;
  margin: auto;
  border-radius: 8px;
  background: rgba(48, 46, 46, 0.11);
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.service{
    text-align: center;
}
